body {
  background-image: url(../../images/kiyomizu-dera.jpg);
  background-size: cover;
}

span.kanji {
  font-family: 'Sawarabi Mincho', sans-serif;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 17rem;
  position: absolute;
  left: 0.48em;
  top: 0.1em;
  text-align: center;
  opacity: 55%;
}

.text-container {
  margin-left: 35em;
  width: 500px;
}

.text-container .title{
  color:#FE2038;
  font-size: 10rem;
  font-family: 'Teko', sans-serif;
}