body {
  background-image: url(../../images/kiyomizu-dera.jpg);
  background-size: cover;
}

span.kanji {
  font-family: 'Sawarabi Mincho', sans-serif;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 17rem;
  position: absolute;
  left: 0.48em;
  top: 0.1em;
  text-align: center;
  opacity: 55%;
}