.navbar-container {
  display: flex;
  height: 100px;
}

.gap {
  width: 100px;
  margin-right: 100px;
  border-bottom: 2px solid white;
}

.svg {
  display: flex;
  align-self: end;
}

.headers {
  display: flex;
  justify-content: space-between;
  flex: 10;
  margin-left: 100px;
  padding-left: 800px;
  padding-right: 100px;
  padding-bottom: 50px;
  font-size: 200%;
  border-bottom: 2px solid white;  
  /* background-color: rgb(204, 32, 56) */
}

  /* position: absolute;
  right: 0;
  padding-right: 120px; */