.navbar-container {
  /* border-bottom: 2px solid white; */
  /* position: relative; */
  display: flex;
  height: 75px;
}

.headers {
  display: flex;
  width: 800px;
  font-size: 150%;
  justify-content: space-between;
  margin-left: 800px;
  border-bottom: 2px solid white;
  
}

  /* position: absolute;
  right: 0;
  padding-right: 120px; */