.navbar-container {
  display: flex;
  height: 100px;
}

.gap {
  width: 100px;
  margin-right: 80px;
  border-bottom: 1px solid white;
}

.svg {
  display: flex;
  align-self: end;
}

.headers {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex: 10;
  margin-left: 80px;
  padding-left: 800px;
  padding-right: 100px;
  /* padding-bottom: 1em; */
  font-size: 200%;
  border-bottom: 1px solid white;  
}