.corner-image {
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.corner-image img{
  height: 400px;
  width: 800px;
}

.redirect {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.redirect span {
  margin-left: 30px;
  font-size: 1.5rem;
}

.redirect-button {
  height: 75px;
  width: 275px;
  background-color: #9C9686;
}