span.kanji-home {
  font-family: "Sawarabi Mincho", sans-serif;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 16rem;
  position: absolute;
  left: 0.44em;
  top: 0.1em;
  text-align: center;
  opacity: 40%;
  letter-spacing: 2rem;
}