span.kanji-home {
  font-family: "Sawarabi Mincho", sans-serif;
  writing-mode: vertical-rl;
  /* text-orientation: upright; */
  font-size: 16rem;
  position: absolute;
  left: 0.44em;
  top: 0.1em;
  text-align: center;
  opacity: 40%;
  letter-spacing: 2rem;
}

span.kanji-red-京都市 {
  font-family: "Sawarabi Mincho", sans-serif;
  writing-mode: vertical-rl;
  text-orientation: upright;

  margin: 0;
  font-size: 10rem;
  position: absolute;
  /* margin-left: 0px; */
  text-align: center;
  color: #CF2B48;
  letter-spacing: 2rem;
  
}
