.page-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 45em;
  width: 40em;
  margin-top: 7em;
  margin-left: 10em;
  color: #401F20;
  row-gap: 0;
}

.page-header {
  display: flex;
  flex-direction: column;
}

span.header-1 {
  font-size: 1.75rem;
}

span.title {
  font-size: 8rem;
  font-family: "Teko", sans-serif;
  width: 7em;
}

p.paragraph {
  display: flex;
  font-size: 1.5rem;
  line-height: 1.75;
}