.page-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25em;
  width: 40em;
  color: #401f20;
}

.page-header {
  display: flex;
  flex-direction: column;
}

span.header {
  font-size: 1.75rem;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100em;
}
span.title {
  font-size: 8rem;
  font-family: "Teko", sans-serif;
  width: 7em;
}

span.right-title {
  font-family: "Sawarabi Mincho", sans-serif;
  font-size: 5rem;
}

p.paragraph {
  display: flex;
  font-size: 1.5rem;
  line-height: 1.75;
}

