.right-section {
  position: absolute;
  display: flex;
  right: 0px;
  bottom: 0px;
  width: 75em;
  height: 77em;
}

.right-section img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  margin-top: -7em;
}
