.card {
  display: flex;
  width: 37em;
  height: 20em;
  margin-bottom: 2%;
}

.card-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #da895b;
  padding-top: 2em;
  padding-left: 2.5em;
  padding-right: 2.5em;
  padding-bottom: 2em;
}

img.card-image {
  width: 50%;
}

span.card-title {
  font-size: 1.5rem;
}

span.card-info {
  font-size: 1.25rem;
  line-height: 1.5em;
}

/* img.card-image {
  height: 100px;
  width: 100px;
} */
