.test {
  position: relative;
  height: 200px;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  align-items: center;
}

svg {
  position: absolute;
  z-index: -1;
}
.logo-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}
