.logo-container {
  position: relative;
  height: 200px;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  align-items: center;
}

svg {
  position: absolute;
  opacity: 90%;
}
.logo-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
